

.SideBar{
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  width: 25%;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: rgba(19, 66, 75, 0.8);
}
.Land{
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: url(Kerry.jpg) top center no-repeat #bababa;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    padding-left: 110px;
    padding-top: 130px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    font-size: 12px;
}
.AboutMe{
  display: inline-grid;
  height: 100vh;
  grid-area: AboutMe;
}
.Projects{
 display: inline-grid;
 height: 100vh;
 grid-area: Projects;
}
.SideImage{
  border: rgba(0, 0, 0, 0) solid 2px;
  grid-area: "SideImage";
  height: 230px;
  width: 225px;
  border-radius: 50%;
  background-image: url(./meclose.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  background-size: cover;
}
.Svg{
  height: 80px;
  width: 80px;
  
}
.HomeHeading{
  font-size: 4em;
  font-weight: 500;
  box-sizing: inherit;
  display: block;
}
.InnerLanding{
  max-width: 840px;
  margin-left: 35%;
}
.SubHeading{
  font-size: 3em;
  font-weight: 300;
  text-transform: none;
  margin: 0;
  box-sizing: inherit;
}
.Name{
  margin: 0 auto;
}
.ProjectImg{
  border: black solid 2px;
  display: inline;
}
.Description{
  margin: 0 auto;
}
h2{
  margin: none;
}