
p{
  color: white;
}
.SideBar{
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  width: 25%;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: rgba(19, 66, 75, 0.8);
}
.Land{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url(Kerry.jpg) top center no-repeat #bababa;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding-left: 110px;
  padding-top: 130px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  font-size: 12px;
}
.ProjectLand{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url(overlook.jpg) top center no-repeat #bababa;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding-left: 110px;
  padding-top: 10px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  font-size: 12px;
}
.AboutLand{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url(france.jpg) top center no-repeat #bababa;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding-left: 110px;
  padding-top: 130px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  font-size: 12px;
  opacity: 0.9;
}
.AboutMe{
  display: inline-grid;
  height: 100vh;
  grid-area: AboutMe;
}
.Projects{
 display: inline-grid;
 height: 100vh;
 grid-area: Projects;
}
.SideImage{
  border: rgba(0, 0, 0, 0) solid 2px;
  grid-area: "SideImage";
  height: 230px;
  width: 225px;
  border-radius: 50%;
  background-image: url(./meclose.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  background-size: cover;
}
.Svg{
  height: 80px;
  width: 80px;
  
}
.HomeHeading{
  font-size: 4em;
  font-weight: 500;
  box-sizing: inherit;
  display: block;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  margin-right: 1%;
}
.InnerLanding{
  max-width: 840px;
  margin-left: 35%;
}
.SubHeading{
  font-size: 2em;
  font-weight: 200;
  text-transform: none;
  margin: 0;
  box-sizing: inherit;
}
.Name{
  margin: 0 auto;
}
.ProjectImg{
  border: black solid 2px;
  display: inline;
}
.Description{
  margin: 0 auto;
}
.SubHeadDescription{
  margin: 0;
  margin-left: 2%;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  
}
.AboutMe{
  position: relative;
}
.ProjectSectionOne{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-left: 6%;
}
.ProjectSectionTwo{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-left: 6%;
}
.ProjectOne{
  background: url(cage.jpg) center no-repeat #bababa;
  height: 400px;
  width: 400px;
  display: inline-block;
  margin: 2%;

}
.ProjectTwo{
  background: url(cage.jpg) center no-repeat #bababa;
  height: 400px;
  width: 400px;
  display: inline-block;
  margin: 2%;
}
.ProjectThree{
  background: url(cage.jpg) center no-repeat #bababa;
  height: 400px;
  width: 400px;
  display: inline-block;
  margin: 2%;
}
.ProjectFour{
  background: url(cage.jpg) center no-repeat #bababa;
  height: 400px;
  width: 400px;
  display: inline-block;
  margin: 2%;
}
.Skills{
 display: inline-block;
 margin: 6%;
 font-size: 1em;
 font-weight: 300;
 text-shadow: 0 0 3px rgb(23, 5, 129), 0 0 5px rgb(0, 0, 0);
}
.MethodContain{
  margin-top: 5%;
  margin-left: 25%;
}
.Methods{
  margin-left: 5%;
  font-size: 1em;
  font-weight: 300;
  text-shadow: 0 0 3px rgb(23, 5, 129), 0 0 5px rgb(0, 0, 0);
}
.AboutTitles{
  text-shadow: 0 0 3px rgb(23, 5, 129), 0 0 5px rgb(0, 0, 0);
  font-size: 2em;
  font-weight: 400;
}