a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
.App{
  background: url(tree.jpg) top center  #bababa;
  background-size: cover;
  height: 3200px;
}
p{
  color: white;
}
.SideBar{
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  width: 25%;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: rgba(19, 66, 75, 0.8);
}
.Land{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url(Kerry.jpg) top center no-repeat #bababa;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding-left: 110px;
  padding-top: 130px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  font-size: 12px;
}
/* .ProjectLand{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding-left: 110px;
  padding-top: 10px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  font-size: 12px;
} */
.ProjectSideBar{
  min-height:100%;
  top: 0;
  left: 0;
  z-index: 2;
  width: 25%;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: rgba(19, 66, 75, 0.8);
}
.AboutLand{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: url(france.jpg) top center no-repeat #bababa;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  padding-left: 110px;
  padding-top: 130px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  font-size: 12px;
  opacity: 0.9;
}
.AboutMe{
  display: inline-grid;
  height: 100vh;
  grid-area: AboutMe;
}
.Projects{
 display: inline-grid;
 height: 100vh;
 grid-area: Projects;
}
.SideImage{
  border: rgba(0, 0, 0, 0) solid 2px;
  grid-area: "SideImage";
  height: 230px;
  width: 225px;
  border-radius: 50%;
  background-image: url(./headshot.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  background-size: cover;
}
.Svg{
  height: 80px;
  width: 80px;
  
}
.HomeHeading{
  font-size: 4em;
  font-weight: 500;
  box-sizing: inherit;
  display: block;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  margin-right: 1%;
}
.InnerLanding{
  max-width: 840px;
  margin-left: 38%;
}
.SubHeading{
  font-size: 2em;
  font-weight: 200;
  text-transform: none;
  margin: 0;
  box-sizing: inherit;
}
.Name{
  margin: 0 auto;
  font-size: 2em;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
}
.ProjectImg{
  border: black solid 2px;
  display: inline;
}
.Description{
  margin: 0 auto;
  font-size: 2em;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
}
.SubHeadDescription{
  margin: 0;
  margin-left: 2%;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  
}
.AboutMe{
  position: relative;
}
.ProjectSectionOne{
  position: absolute;
  top: 0;
  left: 20%;
  z-index: 2;
  text-align: center;
  margin-left: 6%;
}
.ProjectOne{
  background: url(ship.png) center no-repeat #bababa;
  background-size: cover;
  height: 430px;
  width: 1000px;
  display: inline-block;
  margin-left: 5%;
}
 .ProjectTwo{
  background: url(Jam-Band.png) center no-repeat #bababa;
  background-size: cover;
  height: 400px;
  width: 1000px;
  display: inline-block;
  margin-left: 5%;
}
.ProjectThree{
  background: url(JobTraker.png) center no-repeat #bababa;
  background-size: cover;
  height: 703px;
  width: 1000px;
  display: inline-block;
  margin-left: 5%;
}
.ProjectFour{
  background: url(hairport.png) center no-repeat #bababa;
  background-size: cover;
  height: 430px;
  width: 721px;
  display: inline-block;
  margin-left: 5%;
} 
.ProjectFive{
  background: url(housing.png) center no-repeat #bababa;
  background-size: cover;
  height: 600px;
  width: 1000px;
  display: inline-block;
  margin-left: 5%;
} 
.Skills{
 display: inline-block;
 margin: 5%;
 font-size: 20px;
 font-weight: 300;
 text-shadow: 0 0 3px rgb(23, 5, 129), 0 0 5px rgb(0, 0, 0);
}
.MethodContain{
  margin-top: 5%;
  margin-left: 30%;
}
.Methods{
  margin-left: 5%;
  font-size: 30px;
  font-weight: 300;
  text-shadow: 0 0 3px rgb(23, 5, 129), 0 0 5px rgb(0, 0, 0);
}
.AboutTitles{
  text-shadow: 0 0 3px rgb(23, 5, 129), 0 0 5px rgb(0, 0, 0);
  font-size: 2em;
  font-weight: 400;
}
.projectName{
  text-align: center;
  text-shadow: 0 0 3px rgb(23, 5, 129), 0 0 5px rgb(0, 0, 0);
  font-size: 2em;
  font-weight: 400;
}
.sideText{
  font-size: 2em;
  font-weight: 200;
}
.connect{
  font-size: 2em;
  font-weight: 200;
}